.btn{
    margin-right: 5px !important;
    padding: 5px !important;
}

.header form button{
    margin-bottom: 2px;
}

.auth-check{
    padding-right: 10px;
    text-align: right;
}

.auth-check>*{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.auth-check img{
    height: 30px;
    width: 30px;

}

.user-name{
    margin: 5px;
    font-size: 20px;
    text-transform: uppercase;
}

.user-name:before{
    content: 'Здравствуйте, ';
    font-size: 15px;
    text-transform: none;
    color: #767676;
}

form{
    margin: 10px;
}

.dropdown-menu{
    padding: 5px;
}

.dropdown-menu p{
    color: #337AB7;
    border-bottom: 1px solid #337AB7;
}

td:first-child{
    width: 200px;
}

td:not(:first-child){
    text-align: right;
}

td:last-child{
    padding-left: 5px !important;
}
