.btn{
    float: right;
    margin-right: 5px !important;
    padding: 5px !important;
}

.modal-content{
    padding: 7px;
    padding-bottom: 40px;
}

.form-group{
    margin: 2px;
}

.form-group input{
    height: 20px;
    /*padding: 0px;*/
}


.header form button{
    margin-bottom: 2px;
}
